html, body {
    min-height: 100vh;
}

.add-bar {
    width: 400px;
    font-family: "Nunito", sans-serif;
    color: #b67233;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 576px) {
    .add-bar {
        width: 300px;
    }
}

#add-btn {
    margin-top: 25px;
}


#add-cafes-body {
    background-color: #b67233;
}

#add-cafe-div {
    background-color: rgba(55, 31, 19);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    min-height: 55vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

@media (max-width: 700px){
    #add-cafe-div {
        border-radius: 0px;
    }
}

#add-cafe-title {
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

#all-cafes-body {
    background-color: #b67233;
}

.btn-primary {
    color: white;
    background-color: #b67233;
    border-radius: 50px;
    border-width: 0px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    width: 150px;
    height: 65px;
    highlight-color: white;
    font-size: 22px;
}

.btn-primary:hover {
    color: #b67233;
    background-color: white;
}

.cafe_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.cafe-listing {
    align-items: center;
    background-color: #fff9c5;
    border-radius: 20px;
    justify-content: center;
    min-height: 250px;
    width: 75%;
    margin-top: 30px;
    padding: 10px;
}



.cafe-location {
    color: #371f13;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 0px;
}

@media (max-width: 1703px) {
    .cafe-location {
        margin-top: 20px;
    }
}


@media (max-width: 1703px) {
    .cafe-location-div {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.cafe-name {
    color: #371f13;
    font-family: "Fredoka", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .cafe-name {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .cafe-name-div {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
}

#city-search-bar {
    width: 300px;
    font-family: "Nunito", sans-serif;
    color: #b67233;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

#coffee-cup {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

#delete_cafe_body {
    background-color: #b67233;
}

#home-page-body {
    background-color: #b67233;
    background-image: url('/static/assets/img/cappuccino.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

#home-page-text {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 2.5vh;
    font-weight: 400;
    line-height: 1.35;
}

.homepage-btn {
    color: white;
    background-color: #b67233;
    border-radius: 50px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    width: 150px;
    height: 65px;
    highlight-color: white;
    font-size: 22px;
    margin-bottom: 20px;
}

.homepage-btn:hover {
    color: #b67233;
    background-color: white;
}

#home-page-text {
    margin-bottom: 8%;
    margin-top: 5%;
}

#home-page-welcome{
    background-color: rgba(55, 31, 19, 0.95);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 720px;
    min-height: 55vh;
    margin-top: 15vh;
    opacity: 0.9;
    text-align: center;
}

@media (max-width: 700px){
    #home-page-welcome {
        border-radius: 0px;
    }
}

.image-div {
    align-items: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    height: 225px;
    width: 250px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
}

@media (max-width: 1703px) {
    .image-div {
        margin-right: 0;
    }
}

ul li {
    color: #371f13;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    padding-right: 2em;
}

@media (max-width: 1200px) {
    ul li {
        text-align: center;
        list-style-position: inside;
    }
}

@media (max-width: 415px) {
    ul li {
        text-align: left;
        list-style-position: outside;
        margin-left: -5px;
        padding-right: 0px;
    }
}


.listing-btn {
    color: white;
    background-color: #b67233;
    border-radius: 50px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    width: 9em;
    height: 3em;
    highlight-color: white;
    font-size: 16px;
}

.map-btn {
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 1703px) {
    .map-btn {
        margin-top: 20px;
    }
}

#nav-logo-div{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 3em;
    padding-left: 50px;
}

@media (max-width: 768px) {
    #nav-logo-div {
        justify-content: center;
        padding-left: 10px;
        width: 100%;
    }
}

#nav-links-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3em;
}

#no-cafes-message {
    color: white;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

#results-container {
    align-items: center;
    background-color: #371f13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    min-height: 100%;
    overflow-y: auto;
}

#results-container-parent {
    width: 100%;
    min-height: calc(100vh - 48px);
    display: flex;
    justify-content: center;
}

#search-cafes-body {
    background-color: #b67233;
    width: 100vw;
}

.submit-btn {
    text_align: center;
}

@media (max-width: 1000px) {
    #results-container {
        width: 90vw !important;
    }
}


#top-bar {
    background-color: #fff9c5;
    width: 100%;
}


.top-bar-link {
    color: #371f13;
    text-decoration: none;
    font-family: "Fredoka", sans-serif;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.top-bar-link:hover {
    color: #b67233;
}

#top-bar-title {
    color: #371f13;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
    text-decoration: none;
}



#top-bar-title:hover {
    color: #b67233;
}



#welcome-text {
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 5vh;
    font-weight: 600;
}
