{% extends 'header.html' %} {% block content %}

<div id="results-container-parent">
    <div id="results-container">
        {% for cafe in all_cafes %}
        <div class="cafe-listing row">
            <div class="image-div col-xl-4">
                  <img class="cafe_img" src="{{ cafe.img_url }}" alt="User-provided Café image" onerror="this.onerror=null; this.src='/static/assets/img/no-image-available.jpg';">
            </div>
            <div class="cafe-name-div col-xl-5">
                <h1 class="cafe-name">{{ cafe.name }}</h1>
                <ul>
                    <li>WiFi: {{ cafe.has_wifi }}</li>
                    <li>Power Available: {{ cafe.has_sockets }}</li>
                    <li>Call-Friendly: {{ cafe.can_take_calls }}</li>
                    <li>Approx. Seats: {{ cafe.seats }}</li>
                    <li>Restroom Available: {{ cafe.has_toilet }}</li>
                    <li>Coffee Price: {{ cafe.coffee_price }}</li>
                </ul>
            </div>
            <div class="cafe-location-div col-xl-3">
                <h2 class="cafe-location">{{ cafe.location }}</h2>
                <button class="btn listing-btn map-btn" onclick="window.location.href='{{ cafe.map_url }}'">Map Link</button>
                <button class="btn listing-btn" onclick="window.location.href='{{ url_for('delete', cafe_id=cafe.id) }}'">Report Closing</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}